@font-face {
    font-family: '29LT Bukra semi';
    src: url('../admin/dist/fonts/29LTBukra-SemiBold.woff2') format('woff2'),
        url('../admin/dist/fonts/229LTBukra-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '29LT Bukra';
    src: url('../admin/dist/fonts/229LTBukra-Regular.woff2') format('woff2'),
        url('../admin/dist/fonts/229LTBukra-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body, button, input, select, optgroup, textarea {
  font-family: '29LT Bukra';
  direction: rtl;
  text-align: right;
}
.shop_header_area .navbar .navbar-nav li:first-child {
  margin-right: 60px;
  margin-left: 40px;
}

.shop_header_area .navbar .navbar-nav li {
  margin-left: 40px;
  margin-right: 0px;
}
.shop_header_area .navbar .navbar-nav li.submenu .dropdown-menu li {
    text-align: right;
}
.shop_header_area .navbar .navbar-nav li {
  font-family: '29LT Bukra';
}
.shop_header_area .navbar .navbar-nav li a {
  font-family: '29LT Bukra';
}
.footnoor{
  margin-left: 15px !important;
}
.l_title {
    padding: 20px 30px 20px 0px;
}
.l_categories_widget ul li a {
    padding: 20px 25px 20px 0px;
}
.advanced_search_area .input-group input {
    padding: 0px 40px 0px 0px;
}

.tp-mask-wrap{
    position: absolute;
    display: block;
    overflow: hidden;
    transform: matrix(1, 0, 0, 1, 145, 0);
    text-align: right;
    /* width: 14%; */
    padding-left: 0px;
    padding-right: 14px;
}
.promotion_area .right_promotion {
    padding-left: 0px;
    padding-right: 15px;
}
.promotion_area .left_promotion {
    padding-right: 0px;
    padding-left: 15px;
}
.rev_slider .tp-mask-wrap .tp-caption, .rev_slider .tp-mask-wrap :last-child, .wpb_text_column .rev_slider .tp-mask-wrap .tp-caption, .wpb_text_column .rev_slider .tp-mask-wrap :last-child {
    text-align: right !important;
}
.l_supper_widget h4 {
    left: auto;
    right: 20px;
}
.f_add_item .f_add_hover {
    right: 26px;
    left: auto;
}
.promotion_area .f_add_item.right_dir .f_add_hover {
    right: 30px;
    left: 0px;
}
.aboutcardgift h2 {
    text-align: right;
}
.arrowsleftright{
  direction: ltr;
}
.l_feature_widget .verticalCarousel .verticalCarouselGroup li .media .d-flex {
    padding-right: 0px;
    padding-left: 20px;
}
@media (min-width: 768px){
  .float-md-right {
      float: left!important;
  }
  .float-md-left {
    float: right!important;
}
}

.black_top_header .selector .ddcommon .ddTitle .ddArrow:before {
    color: #fff;
    margin-left: 10px;
}

.subs_btn {
    background: #d91522 !important;
}

.subs_btn a:hover {
    background: #d91522 !important;
}

.giftstitle {
    text-align: right;
}
